@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Quicksand:wght@300;400;500;600;700&display=swap');

$work-frames-color: #FB2576, #D7BB27, #85ED7C;

@keyframes text-animation-exit {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    90%{
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes icon-animation-growth-color{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Quicksand", sans-serif !important;
}

.btn {
    font-family: "Quicksand", sans-serif !important;
    margin-top: 40px;
    font-size: 25px;
    font-weight: 600;
    height: 45px;
    width: 170px;
    cursor: pointer;
}

.text-section {
    font-size: 25px;
    font-weight: 400;
}

.inner-header{
    margin-top: 40px;
    font-size: 40px;
    font-weight: 600;
}

.menu-navbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 67px;
        li{
            font-size: 25px;
            font-weight: 400;
        
            a{
                color: #ffffff;
                text-decoration: underline 3px rgba(251, 35, 118,0);
                text-underline-offset: 10px;
                transition: text-decoration-color 0.7s;

                &:hover{
                    text-decoration-color: rgba(251, 35, 118,1);
                }
            }
        }
    }
}

.text-animator {
    display: block;
    height: 400px;
    
    .main-wrapper{
        display: block;
        margin-top: 200px;
    }

    .highlight{
        font-weight: bold;
    }

    h1{
        text-align: center;
        margin-bottom: 20px;
        margin-left: auto;
        font-size: 60px;
        font-weight: 300;
    }
}

.about-section{
    margin-left: 175px;
    flex-direction: column;

    .about-wrapper{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;

        img{
            width: 350px;
            height: 350px;
            border-radius: 50%;
            border: 11px solid #4073A3;
        }

        .about-text{
            margin-top: -40px;
            width: 70%;

            p{
                margin-top: 40px;
                display: block;
                font-size: 25px;
                word-wrap: wrap;
                font-weight: 300;
            }
        }
    }
}


.skills-section{
    margin-top: 200px;
    margin-left: 175px;

    .grid-skills{
        margin-top: 100px;
        margin-right: 200px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        gap: 15px 0px;

        .grid-skills-item{
            img{
                width: 100%;
                height: 60%;
                margin: auto;
            }

            span{
                display: block;
                text-align: center;
                margin-top: 20px;
                font-size: 20px;
                font-weight: 300;
            }
        }
    }
    
    p {
        margin-top: 40px;
        font-size: 20px;
        font-weight: 400;
        width: 85%;
    }
}

.work-section{
    margin-top: 200px;
    margin-left: 175px; 

    width: 85%;

    .work-showcase{    
        display: block;
        
        .work{
            margin-top: 120px;
            display: flex;
            text-align: center;
            flex-direction: row;
            gap: 50px;
            
            img {
                width: 469px;
                height: 550px;

                @for $i from 1 through length($work-frames-color) {
                    &:nth-child(#{$i}) {
                        border: 8px solid nth($work-frames-color, $i);
                    }
                }
            }

            .work-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 60%;

                h4{
                    font-size: 40px;
                    font-weight: 400;
                }
    
                p {
                    width: 100%;
                    text-align: left;
                    margin-top: 20px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 40px;
                } 
            }
        }
    }

}

.contact-section {
    margin-top: 200px;
    margin-left: 175px; 
    margin-bottom: 200px;

    .contact-container {
        
        .contact-form{
            .input-form {
                margin-top: 40px;
                width: 78%;
                height: 50px;
                font-size: 20px;
                font-weight: 400;
                border: none;
                border-bottom: 2px solid #ffffff;
                background-color: transparent;
                color: #ffffff;
                outline: none;
                transition: border-bottom-color 0.7s;
                font-family: "Quicksand", sans-serif !important;
    
                &:placeholder{
                    color: rgba(255,255,255,0.7)
                }
                &:focus{
                    border-bottom-color: #FB2576;
                }
            }    
            
            textarea{
                resize: none;
            }
        }

        .btn{
            margin-left: calc(50% - 180px);
        }

        .social-media{
            a{
                svg{
                    margin-top: 10px;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;    
                    transition: all .2s ease-in-out;
    
                    &:hover{
                        fill: #FB2576;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

footer{
    display: block;
    background-color: #D9D9D9;
    color: black;
    text-align: center;
    height: 30px;

    p {
        padding-top: 10px;
        font-size: 15px;
        font-weight: bold;
    }
}